extends layout

block content
  article#post
    h1
      = post.title
    aside
      span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
      div.tags
        - each tag in post.tags
          a(href=tagUrl(tag))
            span.label.label-info #{tag}
    div.post-content
      != post.content
